* {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Navigation Styling */

nav {
    position: fixed;
    text-align: center;
    background-color: black;
    width: 100%; 
    padding: 10px;
    z-index: 10;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
}

nav ul li  a {
   text-decoration: none;
   color: #6176EB;
   padding: 20px 20px; 
   font-weight: bold;
   font-family: 'Barlow', sans-serif;
   font-size: 20px;
}

nav ul li a:hover {
    color: #8F9EF0;
}

/* Universal Styling */

body {
    background: url("../images/highlands.jpg") no-repeat center fixed;
    background-size: cover;
}

@font-face {
    font-family: 'Champagne';
    src: url(../fonts/champagne.ttf);
}

.container {
    position: relative;
    top: 60px;
    max-width: 80%;
    background-color: black;
    opacity: 75%;
    border: 3px solid white;
    padding: 30px;
    margin: 0 auto;
    border-radius: 10px;
}

h1, h2, h3 {
    font-family: 'Champagne', sans-serif;
    font-weight: bold;
    color: red
}

h1 {
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 32px;
    padding: 0 0 20px 0;
}

h2 {
    padding: 20px 0;
}

h3 {
    text-transform: lowercase;
}

h3, li {
    text-align: center;
}

li {
    list-style-type: none;
}

p, li {
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    color: white
}
